@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(203, 227, 235);
    }
  }

html body{
    margin:0px;
    padding:0px;
}

#navbar{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #cadbdb;
    margin: 0;
    top:0;
}

li{
    font-size: 1.5em;
    margin: 0 0;
}

ul li{
    display: inline-block;
    margin: 10px 55px;
    
}

ul{
    padding-left: 500px;
}

#welcome-section{
    padding-top: 100px;
    text-align: center;
    background-color: #cadbdb;   
}

#projects{
    margin: auto
}
.project{
    color: #90d4d4;
    display: inline-block;
    border: 1px solid lightblue;
    height: 260px;
    width: 340px;
    margin: 40px 70px;    
}
.project-tile{
    text-align: center;
    font-weight:bold;
    
}

img{
    height: 220px;
    width: 340px;
}

#footer{
    
    padding:20px ;
    text-align: center;
    background-color: #cadbdb; 
    font-size: 1.5em     
}
#footer a:link{
    text-decoration: none;
    color: rgb(75, 177, 202)
}

