#navBar{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #cadbdb;
}

ul li{
    display: inline-block;
    margin: 55px;
}

#welcome-section{
    text-align: center;
    background-color: #cadbdb;   
}

#projects{
    margin: auto
}
#project{
    color: #90d4d4;
    display: inline-block;
    border: 1px solid lightblue;
    height: 260px;
    width: 340px;
    margin: 40px 70px;    
}
#project-title{
    text-align: center;
    font-weight:bold;
    
}

img{
    height: 220px;
    width: 340px;
}

