html body{
    margin:0px;
    padding:0px;
}

#navBar{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #cadbdb;
    margin: 0;
}

li{
    font-size: 1.5em;
    margin: 0 0;
}

ul li{
    display: inline-block;
    margin: 10px 55px;
    
}

ul{
    padding-left: 500px;
}

#welcome-section{
    padding-top: 100px;
    text-align: center;
    background-color: #cadbdb;   
}

#projects{
    margin: auto
}
#project{
    color: #90d4d4;
    display: inline-block;
    border: 1px solid lightblue;
    height: 260px;
    width: 340px;
    margin: 40px 70px;    
}
#project-title{
    text-align: center;
    font-weight:bold;
    
}

img{
    height: 220px;
    width: 340px;
}

